.main {
    padding-bottom: 5em;
}

.post-body {
    margin-top: 4em !important;
}

.list-title, .term-title, .list-year, .list-month {
    font-family: 'glyph-correction', 'Cinzel Decorative', 'Noto Serif SC', serif;
}
.nav {
    font-size: 0.9em;
    margin-top: 0.4em;
}
